@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Poppins:ital,wght@0,700;1,400&family=Public+Sans:ital,wght@0,100;1,500&display=swap');
* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
  }

/*-------------Estilos del header----------*/
header{
    padding-left: 0;
    padding-right: 0;
  }
  
  .seccion__header{
    padding-left: 100px;
    padding-right:100px;
    background: #0da487;
    width: 100%;
  }
  .header__search{
    justify-content: space-between !important; 
  }
  .header__input-search{
  
  width: 500px !important;
  }
  
  .header_span-button{
    width: 30px;
    height: 30px;
    
  }
  .header_icon-button{
    width: 30px;
    height: 30px;
    align-items: center ;
  }
  .header_icon-button img{
    width: 30px;
    height: 30px;
   
  }
  .header__navbar{
    padding-top: 30px;
    padding-left: 100px;
    padding-right:100px;
    justify-content: space-between;
  }
  .header__logo {
    width: 200px;
    height: 40px;
  }
  .header__logo img {
    width: 100%;
    height: 100%;
  }
  
  .seccion__header--menu {
    display: flex;
    padding-left: 100px;
    padding-right:100px;
    align-items: center;
  }
  
  .separador{
    background-color: #fff;
    width: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 2px solid var(--bs-green);
  }
  #button__menu{
    background: #0da487;
    border: none;
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 18px;
  }
  .icon-menu{
    background:  #69e0c8;
    border-radius: 5px;
    width: 30;
    justify-content: center;
    justify-items: center;
  }
  .header__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__links ul {
    display: flex;
    list-style: none;
    gap: 20px
  }
  .header__links a {
    text-decoration: none;
    color: #000;
    gap: 20px;
    font-size: 16px;
    gap: 30px
  }
  .header__links a:hover {
    color:  #0da487;
  }
  .header__button-ofert{
    background: #0da487;
    padding: 3;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    border: none;
  }
/* ---- Estilos al Main -------*/

main{
    /* background-color: black; */
    padding-left: 100px;
    padding-right:100px;
  }
  
  section{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /*------ Sección Promociones -----*/
  
  .main__seccion-favorites {
    width: 70%;
    background-color: aqua;
    justify-content: space-between;
    padding: 5;
  }


